instances:
{% for host in groups['all_es_nodes'] %}
  - name: "{{ ansible_nodename }}"
    dns:
      - "{{ ansible_fqdn }}"
      - "{{ ansible_nodename }}"
    ip:
      - "{{ hostvars[host]['priv_ip'] }}"
      - "{{ hostvars[host]['ext_ip'] }}"
    filename:
      - "{{ host }}"
{% endfor %}